.cremas-frame {
  background-color: $color-base;
  .cremas-text {
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;
    h3 {
      font-family: "STIX Two Text", serif;
      font-weight: normal;
      font-size: 35px;
    }
    h4 {
      font-family: "Lato", sans-serif;
      font-weight: normal;
      font-size: 20px;
    }
  }
  .col-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    .cremas-info {
      padding: 10px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;
      width: auto;
      justify-content: space-evenly;
      .cremas-img {
        width: 300px;
        height: 100%;
        padding: 50px;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 1px 1px 5px 2px #51515195;
        border-radius: 20px;
        justify-content: space-evenly;
        background-color: #ffffff6b;
        img {
          height: 300px;
          border-radius: 12px;
          box-shadow: 1px 1px 5px 2px #51515195;
        }
        h5 {
          font-family: "STIX Two Text", serif;
          font-size: 15px;
          text-decoration: underline;
          margin-top: 10px;
        }
        p {
          font-family: "Lato", sans-serif;
          font-size: 14px;
        }
        button:hover {
          background-color: #7f95d17b;
          font-weight: bolder;
          color: #010400;
        }
        button {
          padding: 5px 15px;
          margin: 15px;
          border-radius: 15px;
          background-color: #7f95d1;
          color: white;
          font-family: sans-serif;
          font-size: 15px;
        }
      }
    }
  }
}

