footer {
  .eboutique {
    background-color: #7f95d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      font-family: "STIX Two Text", serif;
      color: white;
      font-size: 50px;
    }
    p {
      font-size: 20px;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    background-color: #7f95d1;
    padding-top: 15px;
    padding-bottom: 15px;
    .newsletter {
      p {
        font-size: small;
        margin-left: 10px;
        a {
          color: #010400;
          margin-left: 10px;
        }
      }
      .newsletter-title {
        margin-left: 10px;
      }
      .newsletter-form {
        margin-left: 10px;
        input {
          margin: 3px;
        }
      }
    }
    .social {
      text-align: right;
      margin-right: 10px;
      a {
        img:hover {
          width: 55px;
          height: 55px;
        }
        .facebook {
          width: 50px;
          height: 45px;
        }
        img {
          width: 50px;
          height: 48px;
        }
      }
    }
  }
  .to-top {
    background-color: #000000;
    text-align: center;
    padding: 15px;
    font-size: large;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .to-top:hover {
    font-weight: bolder;
    font-size: 20px;
  }
}
@media (max-width: 1230px) {
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    .newsletter {
      text-align: center;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .social {
        text-align: center;
        margin: 10px;
      }
    }
  }
}

@media (max-width: 575px) {
  .bottom {
    .newsletterp {
      margin: 0px;
      max-width: 280px;
    }
  }
}

@media (max-width: 878px) {
  footer {
    .eboutique {
      h2 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
        font-weight: normal;
      }
    }
    .bottom {
      padding: 0px;
      h4 {
        font-size: 16px;
      }
    }
  }
}
