.promo:hover {
    background-color: #eadfb4bf;
  }
  
  .promo {
    padding: 9px;
    text-align: center;
    background-color: #eadfb4;
  }
  
  .novedad:hover {
    font-weight: bolder;
  }
  
  .novedad {
    text-decoration: none;
    color: black;
  }
  
  .center-item {
    background-color: #010400;
    text-align: center;
    color: transparent;
    padding: 25px;
  }